@font-face {
  font-family: 'valorax';
  src: url('fonts/Valorax-lg25V.eot');
  src: url('fonts/Valorax-lg25V.eot?#iefix') format('embedded-opentype'),
      url('fonts/Valorax-lg25V.woff2') format('woff2'),
      url('fonts/Valorax-lg25V.woff') format('woff'),
      url('fonts/Valorax-lg25V.ttf')  format('truetype'),
      url('fonts/Valorax-lg25V.svg#valorax') format('svg');
}

@font-face {
  font-family: 'eternal';
  src: url('fonts/Eternal-8Md1g.eot');
  src: url('fonts/Eternal-8Md1g.eot?#iefix') format('embedded-opentype'),
      url('fonts/Eternal-8Md1g.woff2') format('woff2'),
      url('fonts/Eternal-8Md1g.woff') format('woff'),
      url('fonts/Eternal-8Md1g.ttf')  format('truetype'),
      url('fonts/Eternal-8Md1g.svg#eternal') format('svg');
}

body {
  background-color: black;
  font-family: Rubik;
  color: #0096FF;
  font-size: 20px;
  line-height: 10px;
  text-align: center;
  align-items: center;
}

h1 {
  color: #5800FF;
  font-family: 'valorax';
  font-size: 50px;
  line-height: 40px;
}

h4 {
  color:#c81471;
  font-family: 'eternal';
  font-size: 25px;
}

p {
  text-decoration: none;
  font-size: 20px;
  color: #0096FF;
}

img {
  border-radius: 50%
}

a:hover {
  background-color: #0096FF;
  border-radius: 10px;
  transition: 0.4s;
  opacity: 0.8;
}

.fa-brands {
  font-size: 50px;
}

.filler {
  padding: 12px
}

.filler2 {
  padding: 9px
}

.button {
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
